# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual Environment
.venv/
venv/
env/

# =========================
# IDE / Editor
# =========================
.idea/
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Large / Raw Data Files
# =========================
data/
*.zip
*.xlsx
*.csv~

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
*.log